body{
    cursor: default;
    font-family: 'montserratregular';
    color: #233B30;
}

*{
    box-sizing: border-box;
}

a,
p,
ul,
span,
input,
button,
h1, h2, h3, h4, h5, h6,
body, html{
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
    display: inline-block;
}

button{
    border: none;
    cursor: pointer;
}

/* Input */
input{
    padding: 10px 0 10px 35px;
    border: none;
    background-color: transparent;
    font-family: 'montserratregular';
}
input:focus{
    outline: none;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(35, 59, 48, 0.5);
    font-family: 'montserratregular';
}
input::-moz-placeholder { /* Firefox 19+ */
    color: rgba(35, 59, 48, 0.5);
    font-family: 'montserratregular';
}
input:-ms-input-placeholder { /* IE 10+ */
    color: rgba(35, 59, 48, 0.5);
    font-family: 'montserratregular';
}
input:-moz-placeholder { /* Firefox 18- */
    color: rgba(35, 59, 48, 0.5);
    font-family: 'montserratregular';
}

/* Input - Checkbox */
.checkbox {
    position: relative;
}
.checkbox .checkbox-mark {
    position: absolute;
    background-color: #fff;
    border: 1px solid #CCD2CF;
    cursor: pointer;
    height: 16px;
    width: 16px;
    left: 0;
    top: -1px;
}
.checkbox .checkbox-mark:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 3px;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 7px;
}
.checkbox input[type="checkbox"] {
    visibility: hidden;
    padding: 0px;
}
.checkbox input[type="checkbox"]:checked + label {
    background-color: #CCD2CF;
    border-color: #CCD2CF;
}
.checkbox input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.checkbox .label-desc{
    padding-left: 11px;
}
/* Input - Checkbox */
/* END Input*/


.inline{
    display: inline-block;
}

.block{
    display: block;
}

.list-clear{
    list-style-type: none;
}


/* Text align */
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
/* END Text align */


/* Text transform */
.capit{
    text-transform: capitalize;
}
.lower{
    text-transform: lowercase;
}
.upper{
    text-transform: uppercase;
}
/* END Text transform */


/* Font color */
.f-ffffff{
    color: #ffffff;
}
.f-233B30{
    color: #233B30;
}
.f-FA3C65{
    color: #FA3C65;
}
.f-777B79{
    color: #777B79;
}
.f-34C197{
    color: #34C197
}
.f-4468B0{
    color: #4468B0;
}
.f-2AA3EF{
    color: #2AA3EF;
}
.f-D54B3D{
    color: #D54B3D;
}
/* END Font color */

/* Background color */
.bg-233B30{
    background-color: #233B30;
}
.bg-ffffff{
    background-color: #ffffff;
}
.bg-FA3C65{
    background-color: #FA3C65;
}
.bg-777B79{
    background-color: #777B79;
}
.bg-67E6CF-2D9DA1{
    background: linear-gradient(90deg, #67E6CF 0%, #2D9DA1 100%);
}
.bg-34C197{
    color: #34C197
}
.bg-4468B0{
    background-color: #4468B0;
}
.bg-2AA3EF{
    background-color: #2AA3EF;
}
.bg-D54B3D{
    background-color: #D54B3D;
}
/* END Background color */


/* Border radius */
.rad-4-5{
    border-radius: 4.5px;
}
.rad-13-5{
    border-radius: 13.5px;
}
.rad-15{
    border-radius: 15px;
}
.rad-18{
    border-radius: 18px;
}
/* Border radius */

/* Grid  system */
.grid{
    display: flex;
}
.g-10{
    width: 10%;
}
.g-20{
    width: 20%;
}
.g-30{
    width: 30%;
}
.g-40{
    width: 40%;
}
.g-50{
    width: 50%;
}
.g-60{
    width: 60%;
}
.g-70{
    width: 70%;
}
.g-80{
    width: 80%;
}
.g-90{
    width: 90%;
}
.g-100{
    width: 100%;
}

.g-33{
    width: 33.333333%;
}

.poz-center{
    align-items: center;
}

.poz-left{
    justify-content: flex-start;
}
.poz-right{
    justify-content: flex-end;
}

/* END Grid system */