body{
    cursor: default;
    font-family: 'montserratregular';
    color: #233B30;
}

*{
    box-sizing: border-box;
}

a,
p,
ul,
span,
input,
button,
h1, h2, h3, h4, h5, h6,
body, html{
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
    display: inline-block;
}

button{
    border: none;
}

.inline{
    display: inline-block;
}

.block{
    display: block;
}

.list-clear{
    list-style-type: none;
}


/* Text align */
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
/* END Text align */


/* Text transform */
.capit{
    text-transform: capitalize;
}
.lower{
    text-transform: lowercase;
}
.upper{
    text-transform: uppercase;
}
/* END Text transform */


/* Font color */
.f-ffffff{
    color: #ffffff;
}
.f-233B30{
    color: #233B30;
}
.f-FA3C65{
    color: #FA3C65;
}
/* END Font color */

/* Background color */
.bg-233B30{
    background-color: #233B30;
}
.bg-ffffff{
    background-color: #ffffff;
}
.bg-FA3C65{
    background-color: #FA3C65;
}
/* END Background color */


/* Border radius */
.rad-13-5{
    border-radius: 13.5px;
}
/* Border radius */

/* Grid  system */
.grid{
    display: flex;
}
.g-10{
    width: 10%;
}
.g-20{
    width: 20%;
}
.g-30{
    width: 30%;
}
.g-40{
    width: 40%;
}
.g-50{
    width: 50%;
}
.g-60{
    width: 60%;
}
.g-70{
    width: 70%;
}
.g-80{
    width: 80%;
}
.g-90{
    width: 90%;
}
.g-100{
    width: 100%;
}

.g-33{
    width: 33.333333%;
}

.poz-center{
    align-items: center;
}

.poz-left{
    justify-content: flex-start;
}
.poz-right{
    justify-content: flex-start;
}

/* END Grid system */